<div class="navbar">
    <div class="flex">
        <div class="logo">
            <a href="/">
                <img src="/public/img/WEB_LOGO.png">
            </a>
        </div>
        <div class="nav-links">
            <div class="nav-link">
                <a href="/">
                    <div class="nav-border">
                        <div class="nav-box"><i class="fas fa-home"></i></div>     
                    </div>
                    <div class="nav-title">Home</div>
                </a>
            </div>
            <div class="nav-link">
                <a href="/news">
                    <div class="nav-border">
                        <div class="nav-box"><i class="fas fa-newspaper"></i></div>     
                    </div>
                    <div class="nav-title">News</div>
                </a>
            </div> 
            <div class="nav-link">
                <a href="/rounds">
                    <div class="nav-border">
                        <div class="nav-box"><i class="fas fa-crown"></i></div>     
                    </div>
                    <div class="nav-title">Rounds</div>
                </a>
            </div> 
            <div class="nav-link">
                <a href="https://youtube.com">
                    <div class="nav-border">
                        <div class="nav-box"><i class="fab fa-youtube"></i></div>     
                    </div>
                    <div class="nav-title">YouTube</div>
                </a>
            </div> 
            <div class="nav-link">
                <a href="https://instagram.com/fgupdate">
                    <div class="nav-border">
                        <div class="nav-box"><i class="fab fa-instagram"></i></div>     
                    </div>
                    <div class="nav-title">Instagram</div>
                </a>
            </div>
        </div>
    </div>
</div>