<div class="mobile-nav">
    <div class="flex">
        <div class="nav-item" id="genres">
            <a href="/genres">
                <a class="nav-icon"><i class="fas fa-home"></i></a>
                <a>Home</a>
            </a> 
        </div>
        <div class="nav-item" id="explore">
            <a href="/">
                <a class="nav-icon"><i class="fas fa-crown"></i></a>
                <a>Rounds</a>
            </a>   
        </div>
        <div class="nav-item" id="news">
            <a href="/news">
                <a class="nav-icon"><i class="fas fa-newspaper"></i></a>
                <a>News</a>
            </a>
        </div>
    </div>
</div>