<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Home | Fall Guys</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <%- include('partials/header') %>
    
    <div class="container">
        <div class="news">
            <a href="/news-1">
                <div class="news-container">
                    <div class="news-img">
                        <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                    </div>
                    <div class="news-info">
                        <div>
                            <span>August 13th, 2020</span>
                            <h1>Patch Notes v1.05</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus modi suscipit libero culpa quis, ex dolore quibusdam nobis cumque.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="sub-news">
            <div class="sub">
                <div class="news-img">
                    <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                    <div class="text">
                        <h1>Make a Fall Guy</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dolore.</p>
                    </div>
                </div>
            </div>
            <div class="sub">
                <div class="news-img">
                    <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                    <div class="text">
                        <h1>Patch Notes</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, ullam.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-news">
            <div class="news-item">
                <a href="">
                    <div class="news-img">
                        <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                        <div class="text">
                            <h1>Patch Notes</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-item">
                <a href="">
                    <div class="news-img">
                        <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                        <div class="text">
                            <h1>Patch Notes</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-item">
                <a href="">
                    <div class="news-img">
                        <img src="/public/img/QVAGdVodwSXZscM86G24xY.jpg" alt="">
                        <div class="text">
                            <h1>Patch Notes</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="btn-flex">
            <div class="center">
                <a href="/news" class="btn">More news</a>
            </div>
        </div>
    </div>

    <%- include('partials/mobile-nav') %>
</body>
</html>