<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>News | Fall Guys</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <%- include('partials/header') %>
    
    <div class="container">
        
    </div>

    <%- include('partials/mobile-nav') %>
</body>
</html>